body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-header-logo {
  margin: 0;
}

.navigation-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style: none;

  width: 1200px;
}

.navigation-list li {
  display: block;
  float: left;
  width: 240px;
  height: 56px;
  margin: 0;
  padding: 0;

  text-align: center;
  vertical-align: middle;
}

.navigation-item {
  padding-top: 20px;

  font-weight: bold;
  text-decoration: none;
  line-height: 56px;

  color: #000000;
}

.main-nav {
  position: relative;

  font-size: 14px;
  color: #000000;

  background-color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: #81b3d2;
}

.navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.welcome-wrapper {
background-color: #2c393a;
background-image: url("../img/welcome-mask.svg"),
                  url("../img/background-photo.jpg");
background-position:
    bottom center,
    top center;
background-repeat: no-repeat;
}

.welcome-wrapper img{
  padding-top: 77px;
  padding-bottom: 77px;
  display: block;
  margin: 0 auto;
}

.welcome {
  background-color: #ffffff;
}

.welcome p {
  width: 576px;
  display: flex;
  text-align: center;
  justify-content: center;
  font-size: 21px;
  padding-top: 64px;
  padding-bottom: 25px;
  margin: 0 auto;
}

.features p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  background-color: #ffffff;
  margin: 0 auto;
}

.reasons {
  padding-bottom: 50px;
}

.features h3 {
  font-size: 21px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0px;
}

.features-list p {
  background: #eeeeee;
}

.features-item {
  display: flex;
  flex-wrap: wrap;
  background: #ffffff;
}

.features-image {
  width: 800px;
}

.feature {
  text-align: center;
  width: 400px;
  background: #eeeeee;
  padding-bottom: 35px;
}

.feature h3 {
  line-height: 21px;
  padding-top: 30px;
  width: 150px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 22px;
}

.feature p {
  line-height: 21px;
  padding-bottom: 22px;
  width: 320px;
}

.blue {
  background: #81b3d2;
  color: #ffffff;
}

.blue p {
  background: #81b3d2;
}

.revers {
  order: -1;
}

.features-image img {
  height: auto;
  width: 100%;
  display: block;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.advantage-list h4 {
  background-color: #ffffff;
  font-size: 21px;
  padding-top: 130px;
  margin-bottom: 22px;
}

.advantage-list p {
  background-color: #ffffff;
  font-size: 14px;
  width: 300px;
  line-height: 21px;
  padding-bottom: 81px;
}

.advantage-item {
  text-align: center;
  width: 400px;
}

.intro-head {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 55px;
  padding-bottom: 24px;
}

.intro-text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight:normal;
  background-color: #ffffff;
  margin: 0 auto;
  padding-bottom: 45px;
}

.search {
  width: 570px;
  margin: 0 auto;
  text-align: center;
}

.hidden-button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;

  background-color: #766357;
  border: none;

  position: relative;

  display: block;
  width: 100%;
  padding-top: 34px;
  padding-bottom: 26px;
}

.search-filters {

  padding-top: 56px;
  padding-bottom: 55px;
  padding-left: 57px;
  padding-right: 54px;

  font-weight: bold;
  line-height: 26px;

  background-color: #ffffff;


  box-shadow: 0 10px 40px 5px rgba(0, 0, 0, 0.2);
}

.hidden-button:hover,
.hidden-button:focus {
  background-color: #604e43;
}

.hidden-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.search-button {
  font-size: 21px;
}

.main-footer {
  margin: 0px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: space-between;
  vertical-align: middle;
}

.footer-item {
  width: 400px;
}

.footer-hashtag p {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  padding-top: 29px;
}

.footer-social ul {
  display: flex;
  flex-wrap: wrap;
  width: 150px;
  justify-content: space-between;
  list-style: none;
  text-align: center;
  margin: 0 auto;
  padding: 0px;
  padding-top: 39px;
  padding-bottom: 36px;
}

.social-button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 46px;
  height: 48px;

  background-color: #81b3d2;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright {
  text-align: center;
  font-weight: normal;
  padding-top: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.copyright-button {
  padding-top: 5px;
  padding-left: 10px;
}

.copyright-button path{
  fill: #000000;
}

.copyright-button:hover path,
.copyright-button:focus path{
  fill: #81b3d2;
}

.copyright-button:active path{
  fill: #bdbbbc;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
  margin: 0;
  margin-top: 1px;
}

.catalog-item {
  display: flex;
  padding-right: 73px;
  border-bottom: 1px solid #e5e5e5;
  padding-bottom: 30px;
}

.catalog-item img {
  width: 135px;
  height: 90px;
  margin: 0px;
  padding-top: 30px;
  padding-left: 33px;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin: 0;
}

.raiting {
  margin-left: auto;
}

.current-page a{
 color: #766357;
}

.catalog ul{
  list-style: none;
}

.hotel-info h3{
  margin: 0;
  padding-top: 16px;
}

.hotel-name {
  margin-top: -5px;
  margin-bottom: 7px;
  font-size: 21px;
  color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.catalog-buttons a {
  color: #ffffff;
}

.hotel-info {
  display: flex;
  flex-direction: column;
  margin-left: 30px;
  margin-top: 11px;
}

.hotel-price {
  display: flex;

}

.hotel-price p{
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding-right: 37px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.button-detail {
  float: left;
  height: 26px;
  margin-right: 8px;
  padding-left: 16px;
  padding-right: 16px;

  line-height: 26px;
  font-weight: bold;
  text-decoration: none;
}

.button-reserv {
  float: left;
  height: 26px;
  padding-left: 20px;
  padding-right: 15px;

  font-weight: bold;
  line-height: 26px;
  text-decoration: none;

  color: #ffffff;
  background-color: #766357;
}

.button-reserv:hover,
.button-reserv:focus {
  background-color: #604e43;
}

.button-reserv:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.raiting-number {
  font-weight: normal;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
width: 1200px;
margin: 0 auto;
}
