body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;
  -webkit-font-kerning: none;
          font-kerning: none;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-header-logo {
  position: absolute;
  top: 0;
  left: 50%;

  display: block;
  width: 140px;
  height: 72px;

  z-index: 1;

  -webkit-transform: translateX(-50%);

      -ms-transform: translateX(-50%);

          transform: translateX(-50%);
}

.navigation-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0px 71px ;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.navigation-list li {
  display: block;
  width: 241px;
}

.navigation-list li:nth-child(3) {
  margin-left: auto;
}

.navigation-list li:nth-child(3),
.navigation-list li:last-child {
  text-align: right;
}

.navigation-item {

  font-weight: bold;
  text-decoration: none;
  line-height: 56px;

  color: #000000;
}

.main-nav {
  font-size: 14px;
  color: #000000;

  background-color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: #81b3d2;
}

.navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.welcome-wrapper {
background-color: #2c393a;
background-image: url("../img/background-photo.jpg");
background-repeat: no-repeat;
background-position: 0 -83px;
}

.welcome-mask {
position: absolute;
left: 0;
bottom: -4px;
}

.welcome-wrapper img{
  padding-top: 77px;
  padding-bottom: 77px;
  display: block;
  margin: 0 auto;
  position: relative;
}

.welcome {
  position: relative;
  background-color: #ffffff;
}

/* .welcome p {
  width: 576px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 21px;
  padding-top: 64px;
  padding-bottom: 25px;
  margin: 0 auto;
} */

.feature p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  background-color: #ffffff;
  margin: 0 auto;
}
/*
.reasons {
  padding-bottom: 50px;
} */

.features {
  position: relative;
  background-color: #ffffff;
}

.features-header {
  padding: 55px;
  text-align: center;
}

.features-header {
  padding: 64px;
  padding-bottom: 37px;
}

.features-title {
  font-weight: 700;
  width: 576px;
  margin: 0 auto 25px;
  font-size: 21px;
  line-height: 26px;
}

.features-text {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  background-color: #ffffff;
  color: #a9a9a9;
}

.features h3 {
  font-size: 21px;
}

.features-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  margin: 0px;
}

.features-list p {
  background: #eeeeee;
}

.features-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background: #ffffff;
}

.features-image {
  width: 800px;
  margin: 0px;
}

.feature {
  text-align: center;
  width: 400px;
  background: #eeeeee;
  padding-bottom: 38px;
}

.feature h3 {
  line-height: 21px;
  padding-top: 30px;
  width: 163px;
  margin: 0 auto;
  margin-top: 18px;
  margin-bottom: 22px;
}

.feature p {
  line-height: 21px;
  width: 323px;
  padding-bottom: 22px;
}

.blue {
  background: #81b3d2;
  color: #ffffff;
}

.blue p {
  background: #81b3d2;
}

.revers {
  -webkit-box-ordinal-group: 0;
      -ms-flex-order: -1;
          order: -1;
}

.features-image img {
  height: auto;
  width: 100%;
  display: block;
}

.advantage-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0;
  list-style: none;
}


.advantage-list p {
  background-color: #ffffff;
  font-size: 14px;
  width: 300px;
  line-height: 21px;
}

.advantage-item {
  text-align: center;
  width: 400px;
  width: 400px;
  padding-top: 56px;
  padding-bottom: 83px;
}

.advantage-item h4{
  background-color: #ffffff;
  font-size: 21px;

  margin-top: 28px;
  margin-bottom: 20px;
}

.advantage-item p{
  background-color: #ffffff;
  font-size: 14px;
  line-height: 21px;

  width: 300px;
  margin: 0 auto;
}

.advantage-item::before {
  content: "";

  display: block;
  width: 75px;
  height: 76px;
  margin: 0 auto;

  background-repeat: no-repeat;
  background-position: bottom;
}

.home-pic::before {
  background-image: url("../img/house.svg");
}

.food-pic::before {
  background-image: url("../img/food.svg");
}

.souvenir-pic::before {
  background-image: url("../img/souvenirs.svg");
}

.search {
  padding-top: 55px;
  position: relative;
}

.search-title {
  font-weight: 700;
  font-size: 30px;
}

.search-text {
  width: 70%;
  line-height: 24px;
  margin: 28px auto 129px;
  color: #333333;
}

.intro-head {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
  margin: 0 auto;
  padding-top: 50px;
  padding-bottom: 24px;
}

.intro-text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight:normal;
  background-color: #ffffff;
  margin: 0 auto;
  padding-bottom: 132px;
}

.intro-search {
  position: relative;
}

.hidden-button {
  font-size: 21px;
  line-height: 26px;
  text-align: center;
  text-decoration: none;

  background-color: #766357;
  border: none;

  position: relative;

  display: block;
  width: 100%;
  padding-top: 30px;
  padding-bottom: 30px;
}

.search-filters {
  padding-top: 56px;
  padding-bottom: 55px;
  padding-left: 57px;
  padding-right: 54px;

  font-weight: bold;
  line-height: 26px;

  background-color: #ffffff;

  -webkit-box-shadow: 0 10px 40px 5px rgba(0, 0, 0, 0.2);

          box-shadow: 0 10px 40px 5px rgba(0, 0, 0, 0.2);
}

.hidden-button:hover,
.hidden-button:focus {
  background-color: #604e43;
}

.hidden-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.modal-form {
  width: 568px;
  min-height: 480px;
  position: absolute;
  z-index: 50;
  left: 50%;
  top: 205px;
  margin-left: -284px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
          box-shadow: 0 7px 15px 0 rgba(0, 1, 1, 0.15);
  text-align: left;
  font-weight: 700;
}

.form-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 29px;
}

.form-item input{
  font: inherit;

  background-color: #f2f2f2;
  border: none;
}

.form-item input:hover {
  background-color: #ebebeb;
}

.form-item input:focus {
  background-color: #ffffff;
  outline: none;
  -webkit-box-shadow: inset 0 0 0 2px #e5e5e5;
          box-shadow: inset 0 0 0 2px #e5e5e5;
}

.form-item:last-child {
  width: 180px;
}

.input-wrapper {
  position: relative;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 346px;
}

.form-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  height: 38px;
  padding: 6px 0;
  padding-right: 35px;
  padding-left: 13px;

  text-transform: uppercase;
}

.count-btn {
  display: block;
  width: 38px;
  height: 38px;
  margin: 0;
  padding: 0;

  background-color: #f2f2f2;
  border: none;
}

.form-btn {
  position: absolute;
  top: 20%;
  right: 9px;

  padding: 0;

  background-color: rgba(255, 255, 255, 0);
  border: none;
}

.form-btn path,
.count-btn path {
  fill: #a9a9a9;
}

.form-btn:hover path,
.count-btn:hover path {
  fill: #000000;
}

.form-btn:active path,
.count-btn:active path {
  fill: #81b3d2;
}

.count-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.count-input {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 38px;
  height: 38px;
  padding: 0 3px;

  text-align: center;
}

.count-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 227px;
}

.count-item input{
  font: inherit;
}

.count-item:last-child {
  width: 180px;
}

.search-filters {
  background-color: #ffffff;
  padding: 56px 55px;
  min-height: 395px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.search-button {
  font-size: 21px;
  margin-top: 54px;
  padding: 16px 0;
  display: block;
  width: 100%;
}

.map {
  background: url(../img/map.jpg) 0 -14px no-repeat;
  width: 100%;
  height: 593px;
}

.filter-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  line-height: 21px;
}

.filter-item {
  margin: 0;
  padding: 0;

  border: none;
}

.filter-item:first-child {
  margin-right: 115px;
}

.filter-item ::-webkit-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.filter-item :-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.filter-item ::-ms-input-placeholder {
  color: #ffffff;

  opacity: 1;
}

.filter-item ::placeholder {
  color: #ffffff;

  opacity: 1;
}

.cost-wrapper {
  margin-left: auto;
}

.cost-wrapper .filter-item:first-child {
  margin-right: 0;
  margin-bottom: 24px;
}

.container {
  position: relative;

  display: block;
  padding-left: 40px;

  font-size: 14px;
  line-height: 21px;

  cursor: pointer;

  -webkit-user-select: none;

     -moz-user-select: none;

      -ms-user-select: none;

          user-select: none;
}

.container input {
  position: absolute;

  cursor: pointer;
  opacity: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;

  width: 20px;
  height: 20px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 3px;
}

.checkmark:focus {
  outline: none;
  -webkit-box-shadow: 0 0 0 3px #8fb9ff;
          box-shadow: 0 0 0 3px #8fb9ff;
}

.checkbox:checked ~ .checkmark:after {
  content: "";
  position: absolute;
  top: -4px;
  left: 9px;

  display: block;
  width: 6px;
  height: 16px;

  border: solid white;
  border-width: 0 4px 4px 0;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
}

.filter-wrapper {
  margin-bottom: 25px;
}

.filter-wrapper:last-of-type {
  margin-bottom: 0;
}

.arrow {
  display: inline-block;
  width: 0;
  height: 0;

  vertical-align: middle;

  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
}

.arrow-up {
  margin-right: 10px;

  border-bottom: 10px solid #b2b2b2;
}

.arrow-up:hover {
  border-bottom: 10px solid #231f20;
}

.arrow-up:active {
  border-bottom: 10px solid #81b3d2;
}

.arrow-down {
  border-top: 10px solid #81b3d2;
}

.sort-arrow {
  margin-left: auto;
}

.cost-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 50%;
  padding: 5px;
  padding-bottom: 4px;

  line-height: 21px;
}

.field-two label {
  width: 46%;

  text-align: right;
}

.field-two input {
  width: 51%;
  height: 22px;
}

.field-one label {
  width: 52%;

  text-align: right;
}

.field-one input {
  width: 46%;
  height: 22px;
}

.field-one {
  position: relative;
}

.cost-slider {
  position: relative;

  width: 100%;
  height: 2px;
  margin-top: 18px;
  margin-bottom: 10px;

  background: rgba(255, 255, 255, 0.3);
}

.slider-bar {
  top: 0;
  left: 0;

  width: 80%;
  height: 100%;

  background: #ffffff;
}

.slider-circle {
  position: absolute;
  top: -9px;

  width: 4px;
  height: 4px;

  background: #ababab;
  border: 8px solid #ffffff;
  border-radius: 50%;
  -webkit-box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
}

.circle-right {
  left: 80%;
}

.field-one::after {
  content: "";
  position: absolute;
  top: 5px;
  left: 100%;

  width: 2px;
  height: 70%;

  background: #ffffff;
}

.filters {
  font-weight: 400;

  color: #ffffff;

  background-color: #5785ad;
  background-image: url(../img/filter-background.jpg);
  background-position: 0 -55px;

  padding: 27px 72px;
  padding-bottom: 24px;
}

.filter-item legend {
  margin-bottom: 24px;

  font-weight: 700;
  font-size: 16px;
}

.cost-wrapper legend {
  margin-bottom: 10px;
}

.filter-item input {
  font-size: 14px;
  line-height: 21px;
  color: #ffffff;
  font-weight: 400;

  background-color: transparent;
  border: none;
}

.day-cost {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 317px;

  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn {
  vertical-align: middle;
  text-align: center;
  color: #ffffff;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.btn-display {
  margin-bottom: 10px;
  margin-left: 84px;
  padding: 7px 34px;

  background-color: transparent;
  border: 2px solid #ffffff;
  border-radius: 2px;
}

.btn-display:hover {
  color: #000000;

  background-color: #ffffff;
}

.quantity {
  margin-top: 5px;
  margin-right: 48px;

  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.sort-text {
  margin: 0;
  margin-right: 40px;
  padding: 0;

  font-size: 12px;
  line-height: 18px;
  color: #000000;
}

.sort-item {
  margin-right: 32px;
}

.sort-item a {
  font-size: 12px;
  line-height: 18px;
}

.sort {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  padding-top: 24px;
  padding-right: 72px;
  padding-bottom: 29px;
  padding-left: 72px;

  background-color: #ffffff;
  border-bottom: 1px solid #e5e5e5;
}

.sort-link {
  color: rgba(0, 0, 0, 0.3);

  border-bottom: 1px dotted #81b3d2;
}

.sort-link:not(.link-current):hover {
  color: #81b3d2;
}

.sort-link:not(.link-current):active {
  color: #000000;

  border-bottom: none;
}

.link-current {
  color: #81b3d2;

  border-bottom: none;
}

.sort-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.main-footer {
  position: absolute;
  bottom: 0;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  padding: 25px 0;

  background-color: rgba(255, 255, 255, 0.9);
}

.inner-footer {
  position: relative;
}

.footer-item {
  width: 400px;
  text-align: center;
}

.footer-hashtag p {
  font-weight: 700;
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.footer-social ul {
  list-style: none;

  display: -webkit-box;

  display: -ms-flexbox;

  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 400px;
  margin: 0;
  padding: 0;
}

.social-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 46px;
  height: 48px;
  margin-right: 6px;
  background-color: #81b3d2;
}

.social-item:last-child .social-btn {
  margin-right: 0;
}

.social-button svg {
  margin: auto;
}

.social-button:hover,
.social-button:focus {
  background-color: #669ec0;
}

.social-button:active {
  background-color: #5496bd;
}

.social-button:active path {
  fill: #88b6d1;
}

.footer-copyright span {
  margin-right: 8px;

  font-weight: 400;
  color: #000000;
}

.footer-copyright {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0;
}

.copyright-button {
  display: block;
  width: 115px;
  height: 41px;
}

.copyright-button path{
  fill: #000000;
}

.copyright-button:hover path,
.copyright-button:focus path{
  fill: #81b3d2;
}

.copyright-button:active path{
  fill: #bdbbbc;
}

.catalog-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: #ffffff;
  margin: 0;
}

.catalog-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-top: 25px;
  padding-right: 72px;
  padding-bottom: 29px;
  padding-left: 72px;

  border-bottom: 1px solid #e5e5e5;
}

.hotel-img {
  width: 135px;
  height: 90px;
  margin-top: 5px;
  margin-right: 30px;
}

.hotel-info .hotel-name,
.raiting-number {
  margin: 0;
  padding: 0;
}


.user-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 600px;
}

.raiting {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  margin-left: auto;
}

.raiting-star {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
  margin-top: 4px;
}

.raiting-star li {
  width: 18px;
  height: 18px;
  margin-right: 6px;

  background-image: url(../img/star.svg);
  background-repeat: no-repeat;
}

.raiting-star li:last-child {
  margin-right: 0;
}

.raiting-number {
  padding: 3px 12px 3px 16px;
}

.current-page a{
 color: #766357;
}

.catalog ul{
  list-style: none;
}

.hotel-info h3{
  margin: 0;
}

.hotel-name {
  width: 160px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
  color: #000000;
}

.hotel-name a {
  font-size: 21px;
  line-height: 26px;
  color: #000000;
}

.hotel-name:hover,
.hotel-name:focus {
  color: #81b3d2;
}

.hotel-name:active {
  color: rgba(0, 0, 0, 0.3);
}

.hotel-box span {
  margin-top: 5px;
  margin-bottom: 14px;

  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.hotel-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.hotel-price p{
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
  margin: 0;
  padding-right: 37px;
  padding-top: 5px;
  padding-bottom: 15px;
}

.button-detail {
  display: block;
  width: 110px;
  margin-right: 6px;
  padding: 2px 0;
}

.button-reserv {
  display: block;
  width: 142px;
  padding: 2px 0;

  font-weight: bold;
  line-height: 26px;
  text-decoration: none;

  color: #ffffff;
  background-color: #766357;
}

.button-reserv:hover,
.button-reserv:focus {
  background-color: #604e43;
}

.button-reserv:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.raiting-number {
  font-weight: normal;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  -webkit-clip-path: inset(100%);

          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.main-container {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  -webkit-box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
          box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
}
