body {
  margin: 0;
  padding: 0;

  font-family: "PT Sans Narrow", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
}

a {
  text-decoration: none;
}

.button {
  font: inherit;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #81b3d2;
  border: none;
}

.button:hover,
.button:focus {
  background-color: #669ec0;
}

.button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #5496bd;
}

.main-header-logo {
position: absolute;
width: 140px;
height: 72px;
top: 0 px;
left: 530px;
}

.navigation-list {
display: flex;
margin: 0;
padding: 0;

list-style: none;

width: 1200px;
/* Временно для сетки */
min-height: 70px;
}

.navigation-item{
  display: flex;
  width: 300px;
}

.navigation-item:last-child  a,
.navigation-item:nth-child(3)  a {
  margin-left: auto;
  display: block;
}

.navigation-item:nth-child(1)  a ,
.navigation-item:nth-child(2)  a {
  margin-right: auto;
  display: block;
}

.main-nav {
  position: relative;

  font-size: 14px;
  color: #000000;

  background-color: #ffffff;
}

.navigation-list {
  list-style: none;
}

.navigation-list a {
  color: #000000;
}

.navigation-list a:hover,
.navigation-list a:focus {
  color: #81b3d2;
}

.navigation-list a:active {
  color: rgba(0, 0, 0, 0.3);
}

.welcome-wrapper {
background-color: #2c393a;
background-image: url("../img/welcome-mask.svg"),
                  url("../img/background-photo.jpg");
background-position:
bottom center,
top center;
background-repeat: no-repeat;
}

.welcome-wrapper img{
  display: block;
  margin: 0 auto;
}

.welcome-wrapper p {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  background-color: #ffffff;
}

.welcome p {
  display: flex;
  justify-content: center;
  font-size: 21px;
  padding-top: 65px;
  padding-bottom: 35px;
  background-color: #ffffff;
  margin: 0 auto;
}

.features p {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
  background-color: #ffffff;
  margin: 0 auto;
}

.features h3 {
  font-size: 21px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0px;
}

.features-list p {
  background: #eeeeee;
}

.features-item {
  display: flex;
  flex-wrap: wrap;
}

.features-image {
  width: 800px;
}

.feature {
  text-align: center;
  width: 400px;
  background: #eeeeee;
}

.blue {
  background: #81b3d2;
  color: #ffffff;
}

.blue p {
  background: #81b3d2;
}

.features-image img {
  height: auto;
  width: 100%;
  display: block;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  list-style: none;
}

.advantage-list h4 {
  background-color: #ffffff;
  font-size: 21px;
}

.advantage-list p {
  background-color: #ffffff;
  font-size: 14px;
}

.advantage-item {
  text-align: center;
  width: 400px;
}

.search-head {
  text-align: center;
  font-size: 30px;
  line-height: 36px;
  background-color: #ffffff;
}

.search-text {
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  font-weight:normal;
  background-color: #ffffff;
}

.hidden-button {
  font-size: 21px;
  line-height: 26px;

  background-color: #766357;
  border: none;
}

.hidden-button:hover,
.hidden-button:focus {
  background-color: #604e43;
}

.hidden-button:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.search-form input[type="text"] {
  font: inherit;
  color: #000000;
  text-transform: uppercase;

  background-color: #f2f2f2;
  border: 2px solid #f2f2f2;
}

.search-form input:hover {
  background-color: #ebebeb;
  border: 2px solid #ebebeb;
}

.search-form input:focus {
  background-color: #ffffff;
  border: 2px solid #e5e5e5;
  outline: 0;
}

.search-button {
  font-size: 21px;
}

.main-footer {
  margin: 0px;
  color: #000000;
  background-color: rgba(255, 255, 255, 0.9);

  display: flex;
  justify-content: space-between;
}

.hashtag {
  width: 400px;
  font-size: 21px;
  line-height: 26px;
  text-align: center;
}

.footer-social {
  text-align: center;
  width: 400px;
}

.footer-social ul {
  list-style: none;
}

.footer-copyright {
  width: 400px;
  text-align: center;
  font-weight: normal;
}

.catalog-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #ffffff;
}

.catalog-item {
  display: flex;
  padding-right: 73px;
}

.catalog-item img {
  width: 135px;
  height: 90px;
  margin-bottom: 31px;
  margin-top: 31px;
  margin-right: 20px;
}

.user-info {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.raiting {
  margin-left: auto;
}

.current-page a{
 color: #766357;
}

.catalog ul{
  list-style: none;
}

.hotel-info a {
  color: #000000;
}

.catalog-buttons a {
  color: #ffffff;
}

.hotel-info a:hover,
.hotel-info a:focus {
  color: #81b3d2;
}

.hotel-price p{
  font-size: 14px;
  font-weight: normal;
  line-height: 21px;
}

.button-reserv {
  color: #ffffff;
  background-color: #766357;
}

.button-reserv:hover,
.button-reserv:focus {
  background-color: #604e43;
}

.button-reserv:active {
  color: rgba(255, 255, 255, 0.3);
  background-color: #503e33;
}

.raiting-number {
  font-weight: normal;
  line-height: 21px;
  color: #666666;
  background-color: #f2f2f2;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.container {
width: 1200px;
margin: 0 auto;
}
